  .chatmain{
    float:left;
    height:100vh;
    width:calc(100vw - 300px);
    &__group{
      background-color: #ffffff;
      height: 100px;
      width: calc(100vw - 300px);
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;
      &--info--left-box{
        margin-top: 35px;
        &__current-group{
          font-size: 20px;
          color: #333;
          margin-bottom: 15px;
        }
        &__member-list{
          font-size: 12px;
          color: #999999;
          display:flex;
          width:800px;
          height:18px;
          margin-right:5px;
          &--index{
            font-size: 12px;
            color: #999999;
            width:700px;
            padding-left:8px;
          }
        }
      }
      &--btn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        position: absolute;
        right: 40px;
        color:blue;
      }    
    }
  &__message{
    width:calc(100vw - 300px);
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    &__form{
      
      &--input{
        display:flex;
        justify-content: space-between;
        width:calc(100vw-300px);
        &--box{
          width:100%;
          height:50px;
          display:flex;
          justify-content: space-between;
          background-color:white;
          &__text{
            width:100%;
            position:relative;
          }
          &__image{
            float:left;
          }
        }


      }
    }
  }
}
.file-select{
  display:none;
}
.texinp{
  height:50px;
  width: 100%;
  padding: 0 40px 0 10px;
  float:left;
}

.btn1 {
  text-decoration: none;
  color:white;
  border:1px solid #38aef0;
  width:100px;
  height:50px;
  margin-top:auto;
  text-align:center;
  margin-left:15px;
  margin-right:auto;
  line-height:48px;
  background-color:#38aef0;
  position:absolute;
  left:865px;
}

.icon2{
  float:left;
  width:30px;
  height:15px;
  font-size:21px;
}
.file-select{
  float:left;
}
.input-box__image{
  position:absolute;
  top:15px;
  left:820px;
  float:left;
}
.messages{
  padding: 46px 40px;
  background-color: #fafafa;
  overflow: scroll;
  height:calc(100vh - 190px);
}
.chatmain{
  &__message1{
    &--list{
      &--user1{
        padding-bottom: 40px;
        &__upper-info{
          display: flex;
          margin-bottom: 10px;
          &__talker{
          color: #434a54;
          font-size: 16px;
          font-weight: bold;
          }
          &__date{
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
          }
        }
        &--text{
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
  }
}
}
.form__mask{
  position:relative;
}
.chatmain{
  &__message{
    &__form{
      width:863px;
      height:90px;
    }
  }
  
}


